#textdomain wesnoth-To_Lands_Unknown

[textdomain]
    name="wesnoth-To_Lands_Unknown"
    path="data/add-ons/To_Lands_Unknown/translations"
[/textdomain]

# Prevent conflicts
#undef CAMPAIGN_DESCRIPTION_POEM
#undef CAMPAIGN_DESCRIPTION

#define CAMPAIGN_DESCRIPTION_POEM
    +"
"+_"
<i>Hearken ye,
You strangers in a desolate land
To this tale of lands most old,
of the Summoners of al-Kamija,
Those mighty magi
Of powers untold,
Their Abysmal servants
Both good and bad,
And of Mehir, who had,
As once foretold,
saved all life in this world.</i>"+
#enddef

#define CAMPAIGN_DESCRIPTION
    "
"+_"
This is the story of Mehir, the Summoner, and his journey to lands unknown."+"
"+_"
(Intermediate or Expert level. 16 playable scenarios.)"
#enddef

# wmlscope: set export=no
[campaign]
    id="To_Lands_Unknown"
    rank=400
    icon="data/add-ons/To_Lands_Unknown/external_data/images/summoners-logo.png"
    name= _ "To Lands Unknown"
    abbrev= _ "TLU"
    define=CAMPAIGN_TO_LANDS_UNKNOWN
    version={~add-ons/To_Lands_Unknown/dist/VERSION}
    first_scenario="01_al-Kamija"
    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions={MENU_IMG_TXT2 "data/add-ons/To_Lands_Unknown/external_data/images/summoner.png~RC(magenta>red)" _"Novice Summoner" _"(Easy)"} +
    ";*" + {MENU_IMG_TXT2 "data/add-ons/To_Lands_Unknown/external_data/images/summonerII.png~RC(magenta>red)" _"Summoner" _"(Normal)"} +
    ";" + {MENU_IMG_TXT2 "data/add-ons/To_Lands_Unknown/external_data/images/summonerIII.png~RC(magenta>red)" _"Grand Summoner" _"(Hard)"}

    description= _ "<span color='#BCB088' size='large'>To Lands Unknown</span>"+{CAMPAIGN_DESCRIPTION_POEM}{CAMPAIGN_DESCRIPTION}

    image="data/add-ons/To_Lands_Unknown/external_data/images/campaign-image.png"

    [about]
        images=story/alkamija_01.jpg
    [/about]
    {./about.cfg}
[/campaign]

#ifdef CAMPAIGN_TO_LANDS_UNKNOWN
{~add-ons/Era_of_Magic/campaign.cfg}
[+units]
    {~add-ons/To_Lands_Unknown/units/}
[/units]

{~add-ons/To_Lands_Unknown/macros}
{~add-ons/To_Lands_Unknown/scenarios}
[binary_path]
    path=data/add-ons/To_Lands_Unknown
[/binary_path]
#endif
#ifdef EDITOR
{~add-ons/To_Lands_Unknown/macros/terrain_base.cfg}
[binary_path]
    path=data/add-ons/To_Lands_Unknown
[/binary_path]
#endif

# Clean up
#undef CAMPAIGN_DESCRIPTION_POEM
#undef CAMPAIGN_DESCRIPTION
