#textdomain wesnoth-To_Lands_Unknown

[editor_group]
    id=wesnoth-UMC-To_Lands_Unknown
    name= _ "To Lands Unknown (custom terrain)"
    icon="group_custom"
[/editor_group]

[terrain_type]
    symbol_image=cave/wall-rough-tile
    id=cavewall
    name= _ "Cave Wall"
    string=Xuq
    aliasof=Xt
    editor_group=wesnoth-UMC-To_Lands_Unknown
[/terrain_type]

[terrain_type]
    symbol_image=off-map/symbol
    editor_image=color-hex
    id=overlay_placeholder
    editor_name= _ "Art Placeholder"
    string=^Yyyy
    aliasof=_bas
    editor_group=wesnoth-UMC-To_Lands_Unknown
[/terrain_type]

[terrain_type]
    symbol_image=off-map/symbol
    editor_image=star3
    id=star_embellishment
    editor_name= _ "Twinkling Star"
    string=^Ey
    aliasof=_bas
    editor_group=wesnoth-UMC-To_Lands_Unknown
[/terrain_type]

[terrain_type]
    symbol_image=off-map/symbol
    editor_image=../scenery/gate-rusty-se
    id=barred_fence_se
    name= _ "Bars"
    string=^Exy/
    aliasof=Xt
    editor_group=wesnoth-UMC-To_Lands_Unknown
[/terrain_type]

[terrain_type]
    symbol_image=off-map/symbol
    editor_image=../scenery/gate-rusty-sw
    id=barred_fence_sw
    name= _ "Bars"
    string=^Exy\
    aliasof=Xt
    editor_group=wesnoth-UMC-To_Lands_Unknown
[/terrain_type]

# Strange terrain string used to fool chasms into not drawing chasm edges
[terrain_type]
    symbol_image=flat/road
    id=flat_bg
    editor_name= _ "Flat"
    string=Qxy
    aliasof=Gt
    editor_group=wesnoth-UMC-To_Lands_Unknown
[/terrain_type]

[terrain_type]
    symbol_image=castle/dwarven-castle-tile
    id=dwarven_castle_bg
    editor_name= _ "Dwarven Castle"
    string=Qxcy
    aliasof=Ch
    recruit_onto=true
    editor_group=wesnoth-UMC-To_Lands_Unknown
[/terrain_type]

[terrain_type]
    symbol_image=castle/dwarven-keep-tile
    id=dwarven_keep_bg
    editor_name= _ "Dwarven Castle Keep"
    string=Qxky
    aliasof=Ch
    recruit_from=true
    recruit_onto=true
    editor_group=wesnoth-UMC-To_Lands_Unknown
[/terrain_type]

# Terrain Graphics - move to separate file if it grows much more

{OVERLAY               Qxky                                 castle/dwarven-keep}
{NEW:WALL2            (Qxcy,Qxky)   X*   (!,Qxcy,Qxky,X*)   castle/dwarven-castle-wall}
{NEW:WALL             (Qxcy,Qxky)        (!,Qxcy,Qxky)      castle/dwarven-castle}

{TERRAIN_BASE_RANDOM_L    Xuq             2 cave/wall-rough}
{WALL_TRANSITION_L        Xuq    (!,Xuq)  2 cave/wall-rough}

[terrain_graphics]
    [image]
        layer=1
        name=star1.png:100,star2.png:100,star3.png:100,star4.png:10000
    [/image]
    [tile]
        x,y=0,0
        type=*^Ey
    [/tile]
[/terrain_graphics]

{OVERLAY_L *^Exy/ 0 (../scenery/gate-rusty-se)}
{OVERLAY_L *^Exy\ 0 (../scenery/gate-rusty-sw)}
