#textdomain wesnoth-To_Lands_Unknown
[unit_type]
    id=TLU_HoRashti
    name= _ "HoRashti"
    race=I8 magical
    image="units/horashti.png"
    profile=portraits/horashti.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=smallfoot
    movement=5
    experience=55
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=99
    usage=warrior
    description= _ "The calm and wise HoRhami."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    #{DEFENSE_ANIM "al-kamija-enchanted-ones/rhamidatu-attack-2.png" "al-kamija-enchanted-ones/rhamidatu-attack-1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    #die_sound=yeti-die.ogg
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]

    [resistance]
        blade=80
        pierce=80
        impact=80
        fire=90
        cold=110
        arcane=110
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=126
            image="units/horashti.png"
        [/frame]
    [/defend]
    [defend]
        hits=hit
        [frame]
            begin=-126
            end=-125
            image="units/horashti.png"
        [/frame]
        [frame]
            begin=-125
            end=-42
            image="units/horashti.png"
        [/frame]
        [frame]
            begin=-42
            end=41
            image="units/horashti.png"
        [/frame]
        [frame]
            begin=41
            end=125
            image="units/horashti.png"
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/horashti.png"
        [/frame]
    [/defend]
    [standing_anim]
        direction=s,se,sw
        start_time=0
        [frame]
            duration=150
            image="units/horashti.png"
        [/frame]
        [frame]
            duration=150
            image="units/horashti.png"
        [/frame]
        [frame]
            duration=150
            image="units/horashti.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        direction=,n,ne,nw
        start_time=0
        [frame]
            duration=150
            image="units/horashti.png"
        [/frame]
        [frame]
            duration=150
            image="units/horashti.png"
        [/frame]
        [frame]
            duration=150
            image="units/horashti.png"
        [/frame]
    [/standing_anim]

    [attack]
        name=spear
        description=_"divine spear"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_PRECISION}
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=iceball
        description=_"iceball"
        icon=attacks/iceball.png
        type=pierce
        range=ranged
        damage=12
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=iceball
        [/filter_attack]
        {MISSILE_FRAME_FAERIE_FIRE}
    [/attack_anim]
[/unit_type]
