#textdomain wesnoth-To_Lands_Unknown
[unit_type]
    [base_unit]
        id=TLU_Grand_Summoner
    [/base_unit]
    id=TLU_Mehir_Commander
    advances_to=null
    [advancement]
        strict_amla=yes
        max_times=100
        id=SWORD_DAMAGE
        description= _ "+2 damage to scimitar, +1 HP, MAX XP +10%"
        image="attacks/scimitar.png"
        [effect]
            apply_to=attack
            name=scimitar,mscimitar
            increase_damage=2
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=1
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=MAGIC_DAMAGE
        description= _ "+2 damage to magic, +3 HP, MAX XP +20%"
        image="attacks/circle-basic.png"
        [effect]
            apply_to=attack
            name=magic arrow,scroll
            increase_damage=2
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=MOVEMENT
        description= _ "+1 movement point, -10 HP"
        image="attacks/blank-attack.png"
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=-10
            heal_full=yes
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]

    [advancement]
        strict_amla=yes
        max_times=100
        id=SWORD_STRIKE
        description= _ "+1 strike to scimitar, +2 HP, MAX XP +30%"
        image="attacks/scimitar.png"
        [effect]
            apply_to=attack
            name=scimitar,mscimitar
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=30%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]

    [advancement]
        strict_amla=yes
        max_times=100
        id=AMLA_HP
        description= _ "Max HP bonus +5, MAX XP +10%"
        image="misc/icon-amla-tough.png"
        [effect]
            apply_to=hitpoints
            increase_total=5
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
[/unit_type]
