#textdomain wesnoth-To_Lands_Unknown
[unit_type]
    [base_unit]
        id=EoMa_Summons_Master
    [/base_unit]
    id=TLU_Mehir_Leader
    advances_to=null
    [advancement]
        strict_amla=yes
        max_times=1
        id=AMLA_RESISTANCE
        description= _ "+20% bonus to fire, cold, and arcane resistances"
        image="attacks/ultracircle.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_CIRCLERES}
            [/abilities]
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=AMLA_SLOWINGAURA
        description= _ "Slowing Aura"
        image="attacks/circle-balance.png"
        [effect]
            apply_to=new_ability
            [abilities]
                [dummy]
                    id=i8slowingaura
                    name= _ "slowing aura"
                    description= _ "Slowing Aura:
At the beginning of each turn, all adjacent enemy units are slowed."
                [/dummy]
            [/abilities]
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]

    [advancement]
        strict_amla=yes
        max_times=1
        id=AMLA_DAMAGINGAURA
        description= _ "Damaging Aura"
        image="attacks/circle-destr.png"
        [effect]
            apply_to=new_ability
            [abilities]
                [dummy]
                    id=i8damagingaura
                    name= _ "damaging aura"
                    description= _ "Damaging Aura:
At the beginning of each turn, all adjacent enemy units receive 8 points of damage."
                [/dummy]
            [/abilities]
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]

    [advancement]
        strict_amla=yes
        max_times=100
        id=AMLA_HP
        description= _ "Max HP bonus +5"
        image="misc/icon-amla-tough.png"
        [effect]
            apply_to=hitpoints
            increase_total=5
            heal_full=yes
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]

    [event]
        name=new turn
        first_time_only=no
        [store_unit]
            [filter]
                [filter_adjacent]
                    type=TLU_Mehir_Leader
                    is_enemy=yes
                [/filter_adjacent]
            [/filter]
            variable=harm2
        [/store_unit]

        {FOREACH harm2 i}
            [if]
                [have_unit]
                    ability=i8slowingaura
                [/have_unit]
                [then]
                    {VARIABLE harm2[$i].status.slowed yes}
                    [unstore_unit]
                        find_vacant=no
                        variable=harm2[$i]
                    [/unstore_unit]
                [/then]
            [/if]
            [if]
                [have_unit]
                    ability=i8damagingaura
                [/have_unit]
                [then]
                    {VARIABLE_OP harm2[$i].hitpoints sub 8}
                    [if]
                        [variable]
                            name=harm2[$i].hitpoints
                            less_than_equal_to=0
                        [/variable]
                        [then]
                            [kill]
                                x,y=$harm2[$i].x,$harm2[$i].y
                                animate=yes
                            [/kill]
                        [/then]
                        [else]
                            [animate_unit]
                                flag=attack
                                [filter]
                                    id=Mehir
                                [/filter]
                                [primary_attack]
                                    name=incantation of power
                                [/primary_attack]
                                hits=no
                                #text= _ " *swoosh*"
                                #red=255
                                #green=0
                                #blue=0
                                [facing]
                                    [filter]
                                        x,y=$harm2[$i].x,$harm2[$i].y
                                    [/filter]
                                [/facing]
                            [/animate_unit]
                            [unstore_unit]
                                find_vacant=no
                                variable=harm2[$i]
                                text= _ "8"
                                {COLOR_HARM}
                            [/unstore_unit]
                        [/else]
                    [/if]
                [/then]
            [/if]
        {NEXT i}

        #{CLEAR_VARIABLE harm2}
    [/event]
[/unit_type]
